<div class="body">
    <div class="left-body">
      <div class="button">
        <button type="button" (click)="back()">
          <img src="../../../../../assets/data/Arrow_Left-1024.webp" alt="" />
        </button>
      </div>
     
        <img  class="formimg animate__animated animate__fadeInDown" src=".../../../../../../../assets/data/pan-card.png" alt="Aadhar_imgae"  height="350px" />
    
    </div>
    <div class="right-body">
      <div class="container">
        <form class="animate__animated animate__fadeInRight">
          <div class=" text-center header">
            <h2>Add PAN Details</h2>
          </div>
          <div class="form-group">
            <label>Name</label><br />
            <input type="text" class="form-control" placeholder="Your Name.." />
          </div>
          <div class="form-group">
            <label>PAN Number</label><br />
            <input
              type="number"
              class="form-control"
              placeholder=" 10 digit number"
            />
          </div>
          <div class="form-group">
            <label>Address</label><br />
            <input type="text" class="form-control" placeholder="Your Address" />
          </div>
          <div class="form-group">
            <label>Upload PAN</label><br />
            <input type="file" class="form-control" />
          </div>
          <div class="text-center">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  