<div class="login-body">
    <div class="login-form" style="position: relative; top:0 ;">
    
      <form [formGroup]="signupForm">
        <div class="text-center">
          <h1 style="color: WHITE;"><b>Signup</b></h1>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" formControlName="Name" [ngClass]="{
                'is-invalid':controls['Name'].invalid &&(controls['Name'].touched ||controls['Name'].dirty)
            }" />
          </div>
          <small style="padding-left:1rem;" class="text-danger" *ngIf="controls['Name'].invalid &&(controls['Name'].touched ||controls['Name'].dirty)"><b>Name is required !</b>
          </small>
        <div class="form-group">
          <label for="username">UserName</label>
          <input type="text" class="form-control" placeholder="Username" formControlName="userName" [ngClass]="{
              'is-invalid':controls['userName'].invalid &&(controls['userName'].touched ||controls['userName'].dirty)
          }" />
        </div>
        <div *ngIf="controls['userName'].invalid &&controls['userName'].touched ">
            <small style="padding-left: 1rem;" class="text-danger" *ngIf="controls['userName'].hasError('minlength')">UserName Must Be Of 4 characters</small>
        </div>
        <small style="padding-left:1rem;" class="text-danger" *ngIf="controls['userName'].invalid &&(controls['userName'].touched ||controls['userName'].dirty)"><b>Username is required !</b>
        </small>
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" class="form-control" placeholder="Enter email" formControlName="email" [ngClass]="{
                'is-invalid':controls['email'].invalid &&(controls['email'].touched ||controls['email'].dirty)
            }" />
          </div>
          <small style="padding-left:1rem;" class="text-danger" *ngIf="controls['email'].invalid &&(controls['email'].touched ||controls['email'].dirty)"><b>Email is required !</b>
          </small>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{
              'is-invalid':controls['password'].invalid &&(controls['password'].touched ||controls['password'].dirty)
          }" />
        </div>
        <small style="padding-left:1rem;" class="text-danger" *ngIf="controls['password'].invalid &&(controls['password'].touched ||controls['password'].dirty)"><b>Password is required !</b></small>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="phone" class="form-control" placeholder="phone" formControlName="phone" [ngClass]="{
                'is-invalid':controls['phone'].invalid &&(controls['phone'].touched ||controls['phone'].dirty)
            }" />
          </div>
          <small style="padding-left:1rem;" class="text-danger" *ngIf="controls['phone'].invalid &&(controls['phone'].touched ||controls['phone'].dirty)"><b>Phone is required !</b></small>
        <div class="text-center">
          <button class="btn" (click)="signup()"><b>Signup</b></button>
        </div>
        <div class="text-center"  style="margin-top: 0.8rem;">
          <span style="color: white;">Already have an account ?<a routerLink="../login">Login</a></span>
        </div>
      </form>
    </div>
  </div>
  